body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* custom styles */

.w-10 {
    width: 10%;
}

.w-90 {
    width: 90%;
}

h1,h2,h3,h4,h5,h6, p {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
}

.black {
    color: #000;
}

.white {
    color: #fff;
}

p, span, a  {
    font-size: 1rem;
}

a:hover, a:focus, a.active_link {
    text-decoration: none;
    border-bottom: 1px solid #cabe9a;
}

.logo a {
    border: none;
}

.navbar.w-50 {
    width: 55% !important;
}

.logo.w-50 {
    width: 45% !important;
}

.break_line {
    border-bottom: 2px solid #cabe9a;
    width: 30%;
}

form label.error {
    margin-bottom:1em;
    font-size:1.2rem;
    line-height:1.2rem;
    font-size:12px;
    line-height:12px;
    color:#c0392b
}

#success, #error {
    display: none;
}

#success span, #error span {
    position: relative;
    display: block;
}

#success span p, #error span p {
    margin-top: -20%;
}
#success span p {
    color: #44a548;
}

#contact_form #success span p {
    margin-top: 40px
}

#error span p {
    color:#c0392b;
}

.required {
    color:#e9266d
}

.header {
    position: relative;
    padding: 20px 15px;
    min-height: 800px;
    background-image: url(../images/bg01_05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#iot header {
    background-image: url(../images/bg_02_01.jpg);
    background-position: center;
    background-size: cover;
}

#banking_integrator header {
    background-image: url(../images/bg03.jpg);
}

#contact header {
    background-image: none;
    min-height: 120px;
    padding-bottom: 20px;
    background-color: #2c2c2c;
}

#transaction_monitor header {
    background-image: url(../images/bg05.jpg);
}

.logo img {
    width: 180px;
    margin-top: 10px;
}

.desktop_menu {
    display: none;
    visibility: hidden;
}

a.menu-nav-anchor-list {
    color: #fff;
    font-weight: 400;
    font-size: 0.850rem;
    padding-bottom: 5px;
    line-height: 1.05rem;
    letter-spacing: 0.05rem;
}

/* mobile nav */

.flowhidden {
    overflow: hidden;
}

.burger {
    width: 35px;
    height: auto;
    display: block;
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
}

.burger span {
    width: 35px;
    height: 5px;
    display: block;
    background-color: #cabe9a;
    margin-top: 5px;
    margin-bottom: 5px;
}

.burger span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 35px;
    height: 5px;
    background: #cabe9a;
}

.burger span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 35px;
    height: 5px;
    background: #cabe9a;
}

.menu_nav_mobile {
    display: none;
    visibility: hidden;
}

.menu_nav_mobile.active {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #212529;
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: visible;
}

.menu_nav_mobile .menu_close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 28px;
    right: 50px;
    overflow: hidden;
    border: none;
    background: url("../images/menu-close.png") no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    cursor: pointer;
}

.menu_nav_mobile ul {
    padding: 0;
}

.menu_nav_mobile ul li {
    display: block;
    height: calc(100%/5);
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
}

.menu_nav_mobile ul li:first-child {
    margin-top: 20%;
}

.menu_nav_mobile ul li a {
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: 0.02rem;
}

/* end mobile nav styles */

.main_slogan {
    top: 50%;
    transform: translateY(75%);
}

.main_slogan h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
}

.main_slogan p {
    margin-top: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
}

.button.main_slogan, .button.lba_service, #contact_form .button, #form_banking_integrator input[type="submit"] {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 20px;
    padding: 7px 40px;
    background-color: #cabe9a;
    text-transform: uppercase;
}


textarea#yourQuestion {
    border-radius: 0;
    resize: none;
}


a .button.main_slogan {
    color: #fff;
}

.main_banner_bottom {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    height: 150px;
    padding: 0;
    visibility: hidden;
}

.main_banner_bottom .container-fluid .row .col-md-3 img {
    top: 50%;
    transform: translateY(-75%);
}

.main_banner_bottom img {
    position: relative;
    display: inline-block;
    text-align: center;
}

.main_banner_bottom div {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main_banner_bottom div div .col-md-3:first-child,
.main_banner_bottom div div .col-md-3:last-child {
    flex: 0 0 30%;
    max-width: 30%;
    border-right: none;
    border-left: none;
}

.main_banner_bottom div div .col-md-3:nth-of-type(2),
.main_banner_bottom div div .col-md-3:nth-of-type(3) {
    flex: 0 0 20%;
    max-width: 20%;
}

.main_banner_bottom div div .col-md-3 {
    border: 1px solid #999999;
}

.main_banner_bottom div div .col-md-3 div h3,
.main_banner_bottom div div .col-md-3 h3 {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

#lba_service_section,
#financial_integrator,
.text-container {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
}

#lba_packets_section {
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    padding-bottom: 5vw;
}

#lba_packets_section .card {
    border: none;
    border-radius: 0;
}

#lba_packets_section .card:nth-of-type(1) {
    background: #9b9b9a;
}

#lba_packets_section .card:nth-of-type(2) {
    background: #a19a87;
}

#lba_packets_section .card:nth-of-type(3) {
    background: #777369;
}

#lba_packets_section .card-title {
    margin-bottom: 0.75rem;
    font-family: Lato;
    font-weight: 600;
    color: #fff;
}

#lba_packets_section .card .img-fluid {
    margin: 3em 0px;
    height: 115px;
}

#lba_packets_section .card p {
    font-family: Lato;
    color: #fff;
}

#lba_packets_section .card-body {
    padding: 1rem;
}

#lba_service_section h2:first-child,
#main_fields h3,
#contact_form h2 {
    margin-top: 5%;
    margin-bottom: 2%;
    /*font-weight: 700;*/
    font-size: 1rem;
    line-height: 1.5rem;
}

#lba_packets_section h2 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 700;
}

#lba_service_section p,
#financial_integrator p,
#lba_packets_section p,
#main_fields p,
label.required,
#iot_audyt p,
#iot_audyt_2 p,
#banking_offer p,
#banking_offer_2 p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2%;
    margin-bottom: 20px;
    /*font-weight: bold;*/
}

#lba_service_section .row .col-sm-6 p,
#financial_integrator .row .col-sm-6 p,
#lba_packets_section .row .col-sm-6 p,
#main_fields .row .col-sm-6 p,
label.required,
.form-check-label {
    font-size: 0.875rem;
    line-height: 1.6rem;
    margin-bottom: 2%;
    margin-bottom: 30px;
}

a .button.lba_service {
    color: #fff;
}

.main_banner_bottom .col-md-3.active {
    background-color: rgba(0,0,0, 0.2);
}

#index #financial_integrator,
#iot #iot_audyt,
#banking_integrator #banking_offer,
#banking_integrator #banking_offer_2,
#transaction_monitor #iot_audyt,
.text-container.slogan_2,
.text-container.slogan_4 {
    background-image: url("../images/banner_15.jpg");
    background-position: center;
    background-size: cover;
    min-height: 200px;
    color: #fff;
}

.text-container.slogan_4 {
    background-image: url("../images/banner_13.jpg");
}

#index #financial_integrator,
.text-container {
    min-height: 100%;
    padding-bottom: 30px;
}

#financial_integrator div,
#iot #iot_audyt div,
#banking_integrator #banking_offer div,
#banking_integrator #banking_offer_2 div {
    top: 50%;
    transform: translateY(80%);
}

.text-container.slogan_1,
.text-container.slogan_3 {
    background-image: none;
}

#financial_integrator div,
.text-container div {
    padding-top: 30px;
    transform: translateY(0%);
}

#financial_integrator div h2,
#iot #iot_audyt div h2,
#banking_integrator #banking_offer h2,
#banking_integrator #banking_offer_2 h2,
.text-container h2 {
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 1.5rem;
}

#main_fields,
#transaction_monitor #main_fields{
    min-height: 200px;
    padding-bottom: 40px;
}

#transaction_monitor #main_fields {
    padding-bottom: 100px;
}

#main_fields .container {
    padding-top: 40px;
}

#main_fields h3, .required{
    color: #000;
    font-size: 1.4rem;
}

#iot_audyt_2 h2 {
    font-size: 1.4rem;
}

#main_fields p, .required {
    margin-top: 20px;
    font-weight: 700;
}

/* newsletter */

.newsletter .row {
    margin-right: 0;
    margin-left: 0;
}

.newsletter {
    min-height: 100px;
    background-color: #333333;
    padding-top: 35px;
    padding-bottom: 20px;
}

.newsletter p {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    letter-spacing: 0.06rem;
    color: #cabe9a;
    text-align: center;
}

.newsletter_form input[type="text"] {
    background-color: #404040;
    outline: none;
    border: none;
    width: 420px;
    height: 33px;
    padding-left: 5px;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    line-height: 1.1rem;
    color: #fff;
}



.newsletter_form input[type="text"]::placeholder {
    color: #fff;
}

.newsletter_form input[type="text"]:focus { color: #fff; }

.newsletter_form input[type="submit"], #form_banking_integrator button[type="submit"] {
    background-color: #cabe9a;
    /*outline: none;*/
    border: 1px solid #c7b299;
    width: 100px;
    min-height: 30px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.1rem;
    top: 0;
    transform: translateY(-5%);
}

#form_banking_integrator button[type="submit"] {
    margin-top: 15px;
    border-radius: 0;
    font-size: 1rem;
    width: 160px;
}

footer.main_footer {
    min-height: 400px;
    background-color: #2c2c2c;
    padding-top: 80px;
    padding-bottom: 20px;
}

footer.main_footer .row:first-child {
    padding-bottom: 40px;
}

.main_footer h4 {
    color: #fff;
    font-size: 1.25rem;
    letter-spacing: 0.007rem;
    text-align: left;
    margin-bottom: 15px;
}

.small_logo {
    margin-bottom: 20px;
}

.small_logo img {
    width: 160px;
}

.main_footer ul {
    padding-left: 0;
}

.main_footer ul li {
    list-style-type: none;
}

.main_footer ul a,
.corporate_links a {
    color: #787878;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.main_footer ul a:hover,
.main_footer ul a:focus,
.corporate_links a:focus,
.corporate_links a:hover {
    border-bottom: none;
}

.main_footer .row.top_line{
    border-top: 1px solid #929292;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.social_menu li a i {
    display: block;
    margin-right: 15px;
    margin-top: 5px;
}

.corporate_links ul li a {
    font-size: 0.75rem;
    line-height: 1.39rem;
}

.corporate_links ul li {
    margin-right: 15px;
}

.newsletter_form form {
    text-align: center;
}

.newsletter_form form input {
    margin-bottom: 20px;
}



/* probono */

.probono .logo img {
    width: 150px;
    margin: 25px 0;
}

header.probono {
    padding: 0;
}

.probono nav {
    border-bottom: 1px solid #999999;
    /*padding-bottom: 0;*/
    margin-left: 0;
}

.probono nav ul {
    padding: 0;
}

.probono .burger {
    top: 28px;
}

.probono .chat:before {
    content: "";
    display: block;
    position: relative;
    background: url("../images/chat_icon.png") no-repeat;
    height: 19px;
    width: 22px;
    float: left;
    margin-right: 5px;
    top: 5px;
    right: 5px;
}

a.menu-nav-anchor-list.padlock {
    display: block;
    margin-top: 15px;
}

.probono .padlock:before {
    content: "";
    display: block;
    position: relative;
    float: left;
    background: url("../images/padlock_icon.png") no-repeat;
    height: 29px;
    width: 22px;
    top: -4px;
    right: 5px;
}

.probono .user:before {
    content: "";
    display: block;
    position: relative;
    float: left;
    background: url("../images/user_icon.png") no-repeat;
    height: 22px;
    width: 22px;
    top: 0px;
    right: 5px;
}

.lawyer_area {
    background-color: #cabe9a;
    padding: 30px 20px;
}

.find_lawyer div {
    background-color: #dbdad8;
    position: relative;
    display: block;
    top: 50%;
    left: 0;
    transform: translate(0, 30%);
    width: 500px;
    height: 360px;
    border-radius: 10px;
    padding: 20px;
}

.find_lawyer h2 {
    font-size: 3.2rem;
    font-weight: 700;
}

.find_lawyer p {
    font-size: 1.5rem;
    font-weight: 700;
}

.find_lawyer select {
    margin-bottom: 10px;
    border-radius: 0;
}

.find_lawyer button[type="submit"] {
    border-radius: 0;
    width: 100%;
    background-color: #cabe9a;
    border: none;
    margin-bottom: 20px;
}

.probono .main_banner_bottom {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.probono .main_banner_bottom .col-md-2 {
    border-right: 1px solid #999999;
}

.probono .main_banner_bottom .col-md-2:first-child,
.probono .main_banner_bottom .col-md-2:nth-of-type(5),
.probono .main_banner_bottom .col-md-2:last-child {
    border-right: none;
}

.probono .main_banner_bottom h3 {
    margin-top: 40px;
    font-size: 1rem
}

.probono .main_banner_bottom p {
    color: #fff;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 32px;
}

.probono .main_banner_bottom .col-md-2:nth-of-type(2) h3:before {
    content: "";
    display: block;
    position: relative;
    float: left;
    background: url("../images/magnifying_glass.png") no-repeat;
    height: 35px;
    width: 35px;
    top: 8px;
    right: -12px;
}

.probono .main_banner_bottom .col-md-2:nth-of-type(3) h3:before {
    content: "";
    display: block;
    position: relative;
    float: left;
    background: url("../images/calendar_icon.png") no-repeat;
    height: 32px;
    width: 35px;
    top: 8px;
    right: -12px;
}

.probono .main_banner_bottom .col-md-2:nth-of-type(4) h3:before {
    content: "";
    display: block;
    position: relative;
    float: left;
    background: url("../images/clock_icon.png") no-repeat;
    height: 35px;
    width: 35px;
    top: 8px;
    right: -12px;
}

.probono .main_banner_bottom .col-md-2:nth-of-type(5) h3:before {
    content: "";
    display: block;
    position: relative;
    float: left;
    background: url("../images/wallet_icon.png") no-repeat;
    height: 35px;
    width: 35px;
    top: 8px;
    right: -12px;
}

.advice p, .reviews p {
    font-size: 0.875rem;
}

.advice .col-md-3,
.reviews .col-md-3 {
    padding-top: 20px;
}

.advice .row .col-md-3 h2,
.reviews .row .col-md-3 h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
#faq .question .row div,
#faq .answer .row div {
    
    display: flex;
    align-items: center;
}

#faq .answer .row div figure figcaption {
    font-size: 14px;
    padding-top: 10px;
    color: #cabe9a; 
}

#faq .question .border-answer p {
    margin: 0;
    background: #fff;    
    border: 1px solid #b9b9b9;
    font-size: 16px;
    padding: 30px;
}

#faq .answer {
    background-color: #fff;
}
#faq .answer .border-answer p {
    margin: 0;
    background: #e1e1e1;    
    border: 1px solid #b9b9b9;
    font-size: 16px;
    padding: 30px;
}

.advice .question,
.advice .answer {
    display: block;
    position: relative;
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
}

.advice .question:first-child {
    margin-top: 40px;
}

.advice .answer {
    background-color: #f3f3f3;
}

.advice .answer i {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 2%;
    transform: translateY(130%);
    color: #cabe9a;
}

.reviews img {
    height: 50px;
    border-radius: 50%;
}

.reviews .chat .row {
    width: 97%;
}

.reviews .chat p {
    padding-left: 20px;
}

.reviews .chat .mx-auto .col-md-6 {
    margin-bottom: 20px;
}

.reviews .chat .mx-auto .col-md-6 .row {
    margin-left: 0;
    margin-right: 0;
}

.reviews .chat {
    margin-top: 40px;
    padding-bottom: 40px;
}

.reviews .chat .fa-star {
    font-size: 0.75rem;
}

.reviews .review_stars {
    margin-left: 20px;
    margin-top: -15px;
}

.reviews .name {
    color: #cabe9a;
}

/* SLIDER */

.slider-belt {
    width: 100%;
    height: 400px;

    //flex
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    //justify-content
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;

    //align-items
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;

    //flex-direction
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; 
}

.slider-belt .slider-units {
    width: 70%;
    position: relative;
    height: 250px;
}

.slider-belt .slider-units .slider-unit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(25%)
}

.slider-belt .slider-units.iot .slider-unit {
    transform: translateY(-10%);
}

.slider-belt .slider-units .slider-unit.active {
    opacity: 1; 
}

.slider-unit{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;   
}

.control-dot{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.content.control-dot {
    display: block;
    visibility: visible;
}

.control-dot {
    cursor: pointer;
}

#iot #lba_service_section p,
#banking_integrator #lba_service_section p {
    margin-top: 15px;
}

#banking_integrator #banking_offer,
#banking_integrator #banking_offer_2,
#iot #iot_audyt,
#transaction_monitor #iot_audyt {
    background-image: url("../images/banner_03.jpg");
    padding-bottom: 15px;
}

#banking_integrator #banking_offer_2 {
    background-image: url("../images/banner_09.jpg");
}

#iot #iot_audyt,
#transaction_monitor #iot_audyt {
    background-image: url("../images/banner_07.jpg");
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

#transaction_monitor #iot_audyt {
    min-height: 305px;
}

#banking_integrator #banking_offer div,
#banking_integrator #banking_offer_2 div,
#iot #iot_audyt div,
#transaction_monitor #iot_audyt div{
    top: 0;
    transform: translateY(0);
    padding-top: 50px;
}

#transaction_monitor h2.main,
#lba_service_section h2,
#iot_audyt h2,
#banking_integrator #banking_offer h2,
#banking_integrator #banking_offer_2 h2,
.section_4 h2,
#lba_service_section h2:first-child,
#banking_integrator #main_fields h3,
#main_fields h3 {
    font-size: 1rem;
    margin: 30px 0;
    line-height: 1.5rem;
    font-weight: bold;
}

.slider-units.iot .slider-unit h2 {
    font-size: 1.4rem;
}

#transaction_monitor #iot_audyt_2 .container p:nth-of-type(1){
    margin-top: 50px;
}

/*#transaction_monitor h2.main {*/
    /*font-size: 2.5rem;*/
/*}*/

#transaction_monitor #iot_audyt {
    background-image: url("../images/banner_08.jpg");
}

#banking_integrator #main_fields h3 {
    margin-top: 2%;
}

#contact_form {
    padding-bottom: 60px;
}

#contact_form #form {
    max-width: 540px;
    margin: 0 auto;
}

#contact_form #form label {
    font-weight: 700;
}

#contact_form #form textarea {
    min-height: 200px;
}

#contact_form #form button {
    width: 100%;
    background-color: #cabe9a;
    border: none;
}

#form_banking_integrator .form-control {
    border-radius: 0;

}

#form_banking_integrator .form-control:focus {
    border-color: #dedede;
}

#form_banking_integrator .form-control:focus {
    /*color: #495057;*/
    /*background-color: #fff;*/
    /*border-color: #80bdff;*/
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(242, 242, 242, 1);
}

#form_banking_integrator .form-group {
    width: 100%;
}

/*#iot #iot_audyt h2 {*/
    /*margin-top: 12%;*/
/*}*/

/*#iot #main_fields h3 {*/
    /*font-size: 2.4rem;*/
    /*line-height: 3.4rem;*/
    /*margin-top: 8%;*/
/*}*/

.slider-units.iot .slider-unit h2 {
    margin-bottom: 200px;
}

.slider-units.iot .slider-unit p {
    float: right;

}

.iot_audyt_3 {
    background-image: url("../images/banner_10.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

#main_fields h3 {
    margin-top: 30px;
}

#main_fields.iot_audyt_3 p {
    color: #fff;
    font-size: 1.4rem;
}

.section_4 {
    min-height: 100px;
}

/* RWD */


/*@media screen and  (min-width: 992px) {*/
    /*#faq .answer .border-answer p {*/
        /*margin-left: 10%;*/
    /*}*/
    /*#faq .question .border-answer p {*/
        /*margin-right: 10%;*/
    /*}*/

    /*!*#form_banking_integrator .form-group {*!*/
        /*!*margin-right: 2.5%;*!*/
        /*!*margin-left: 2.5%;*!*/
        /*!*width: 45%;*!*/
    /*!*}*!*/
/*}*/

.section_4 {
    margin-top: 40px;
}

@media only screen and (max-width: 575px) {
    .newsletter_form input[type="text"] {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) {

    .main_slogan h2 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .main_slogan {
        top: 50%;
        transform: translateY(50%);
    }

    .logo img {
        width: 240px;
        margin-top: 0;
    }

}

@media only screen and (min-width: 768px) {

    .main_slogan h2 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .main_slogan p {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    #index header p {
        top: 0;
        transform: translateY(700%);
        float: right;
    }

    .main_slogan {
        top: 50%;
        transform: translateY(60%);
    }

    .logo img {
        width: 360px;
    }

    .main_banner_bottom {
        display: block;
        visibility: visible;
    }

    /*.icons {*/
        /*-webkit-box-flex: 0;*/
        /*-ms-flex: 0 0 20%;*/
        /*flex: 0 0 20%;*/
        /*max-width: 20%;*/
    /*}*/

    .howItWork {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    /*#lba_service_section h2:first-child,*/
    /*#contact_form h2 {*/
        /*font-size: 1.4rem;*/
        /*line-height: 2rem;*/
    /*}*/


    #lba_service_section p,
    #financial_integrator p,
    #lba_packets_section p,
    #main_fields p,
    #iot_audyt p,
    #iot_audyt_2 p,
    #banking_offer p,
    #banking_offer_2 p,
    .section_4 p,
    .text-container p {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .iot_audyt_3 {
        padding-top: 30px;
    }
}


@media only screen and (min-width: 991px) {
    .desktop_menu {
        display: block;
        visibility: visible;
    }
    .mobile_menu {
        display: none;
        visibility: hidden;
    }


    #lba_service_section h2,
    #iot_audyt h2,
    #banking_integrator #banking_offer h2,
    #banking_integrator #banking_offer_2 h2,
    .slider-units.iot .slider-unit h2,
    #transaction_monitor h2.main,
    #transaction_monitor #main_fields h3,
    .section_4 h2,
    #lba_service_section h2:first-child,
    #banking_integrator #main_fields h3
    #main_fields h3,
    #financial_integrator div h2,
    #iot #iot_audyt div h2,
    #banking_integrator #banking_offer h2,
    #banking_integrator #banking_offer_2 h2,
    #banking_integrator #main_fields h3,
    #main_fields h3,
    .text-container h2 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .slider-belt.i h2 {
        margin-bottom: 180px;
    }

    .small_logo img {
        width: 210px;
        margin-bottom: 0;
    }

    #main_fields .container {
        padding-top: 15px;
    }

    #faq .answer .border-answer p {
        margin-left: 10%;
    }
    #faq .question .border-answer p {
        margin-right: 10%;
    }

    .iot_audyt_3 {
        padding-top: 7px;
    }

    /*#main_fields h3, .required {*/
        /*font-size: 2.4rem;*/
    /*}*/

    .main_slogan h2,
    #transaction_monitor h2.main,
    .slider-units.iot .slider-unit h2{
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    #index header h2 {
        top: 0;
        transform: translateY(-100%);
    }
}